<header class="header">
    <div class="wrapper">
        <nav class="header__navigation">
            <div class="header__navigation-logo">
                <h1>
                    <a [routerLink]="['/']" routerLinkActive="active">Logo</a>
                </h1>
            </div>
            <div class="header__navigation-links">
                <a [routerLink]="['/dados']" routerLinkActive="active"> dadosTeste</a>
                <a [routerLink]="['/sobre']" routerLinkActive="active"> Sobre Nós</a>
                <a [routerLink]="['/login']" routerLinkActive="active"> Login</a>
            </div>
        </nav>
    </div>
</header>
