<form #form="ngForm" autocomplete="off" class="form-container" (submit)="onSubmit(form)">
    
    <div class="ui-inputgroup">
        
        <label class="ui-inputgroup-addon">
            <i class="pi pi-circle-on" ></i>
        </label>
        <input name="PMId" id="PMId" class="input no-hover" 
            [value]="service.formData.PMId"
            disabled
            readonly
            pInputText
            #PMId="ngModel" 
            [(ngModel)]="service.formData.PMId"   
        />
    </div>

    <div class="ui-inputgroup">
        <label for="CardOwnerName" class="ui-inputgroup-addon">
            <i class="pi pi-user" [class.green-icon]="CardOwnerName.valid" [class.red-icon]="CardOwnerName.invalid && CardOwnerName.touched"></i>
        </label>
        <input name="CardOwnerName" id="CardOwnerName" class="input" 
            placeholder="Card Owner Name" 
            pInputText
            #CardOwnerName="ngModel" 
            [(ngModel)]="service.formData.CardOwnerName"   
            required
        />
    </div>
    <div class="ui-inputgroup">
        <label for="CardNumber" class="ui-inputgroup-addon">
            <i class="pi pi-id-card" [class.green-icon]="CardNumber.valid" [class.red-icon]="CardNumber.invalid && CardNumber.touched"></i>
        </label>
        <input name="CardNumber" id="CardNumber" class="input" 
            placeholder="Card Number" pInputText
            #CardNumber="ngModel" 
            [(ngModel)]="service.formData.CardNumber"
            required
        />
    </div>
    <div class="ui-inputgroup">
        <label for="ExpirationDate" class="ui-inputgroup-addon">
            <i class="pi pi-calendar" [class.green-icon]="ExpirationDate.valid" [class.red-icon]="ExpirationDate.invalid && ExpirationDate.touched"></i>
        </label>
        <input name="ExpirationDate" id="ExpirationDate" class="input" 
            pInputText 
            #ExpirationDate="ngModel"
            [(ngModel)]="service.formData.ExpirationDate" 
            data-inputmask="'mask': '99/99/9999'" 
            placeholder="dd/MM/YYYY"
            required 
            minlength="2" maxlength="5"/>
    </div>
    <div class="ui-inputgroup">
        <label for="CVV" class="ui-inputgroup-addon" [class.green-icon]="CVV.valid && CVV.touched" [class.red-icon]="CVV.invalid && CVV.touched">
            <i class="pi pi-key" [class.green-icon]="CVV.valid && CVV.touched" [class.red-icon]="CVV.invalid && CVV.touched"></i>
        </label>
        <show-hide-password [btnOutline]="false" class="passwordContainer">
            <input name="CVV" id="CVV" class="input" 
                type="password" 
                placeholder="CVV" 
                pPassword 
                #CVV="ngModel"
                [(ngModel)]="service.formData.CVV"
                required>
        </show-hide-password>
    </div>
    <button type="submit" class="btn btn-warning col-12" [disabled]="form.invalid">
        <i class="pi pi-arrow-right"></i>
    </button>

</form>